*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.divcito{
    width: 400px;
    height: auto;
    margin: auto;
    margin-top: 200px;
    border: 3px solid black;
    box-shadow: 5px 5px 1px black;
    padding: 20px;
    background-color: rgb(206, 206, 206);
}

.in{
    width: 100px;
}
.in2{
    width: 250px;
}
.pecito{

    width: 100px;
    height: 20px;
    margin: auto;
    margin-top: 20px;
}